.ui.search > .results {
  overflow-y: auto;
  max-height: 348px;
}

.startForm {
  position: absolute;
  left: 5rem;
  right: 5rem;
  padding-top: 1rem;
  z-index: 1;
}

.resultsForm {
  height: 95vh;
  overflow-y: scroll;
  max-height: 95vh;
  position: sticky;
  z-index: 1;
  width: 35rem;
}

.startMap {
  position: absolute;
  height: 95vh;
  width: 100%;
  z-index: 0;
}
.resultsMap {
  position: absolute;
  height: 95vh;
  left: 35rem;
  right: 0;
  z-index: 0;
}

.expand_route {
  position: absolute;
  left: 90%;
}

.ui.menu {
  z-index: 1;
  margin-bottom: 0;
  min-height: 25px;
  height: 5vh;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.routePreview {
  flex-grow: 1;
  margin-left: 5px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.routePreviewContainer {
  position: relative;
  left: 10%;
  display: inline-flex;
  flex-direction: row;
  width: 74%;
  text-align: start;
}

.divided {
  max-width: 95%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.divider {
  flex-grow: 1;
  border-bottom: 5px solid;
  margin: 5px;
}

.previewDeparture {
  position: relative;
  padding-right: 5px;
}

.previewDuration {
  position: relative;
}

.toggleSearchTime {
  position: relative;
  align-items: center;
  display: inline-flex;
}

