.timeline {
  position: relative;
  max-width: 95%;
  list-style: none;
}

.timelineSpacer::before {
  content: "";
  border-left-width: 5px;
  border-left-color: blue;
  border-left-style: solid;
  position: absolute;
  left: 30%;
  height: 200%;
  top: 1rem;
}

.timelineEvent {
  position: relative;
  margin-left: 1rem;
  padding-left: 0;
}

.timelineInfo {
  position: relative;
}

.timelineFrom {
  position: relative;
  margin-left: 2rem;
}

.timelineSpacer {
  background-color: blue;
  display: block;
  border-radius: 50%;
  margin-top: 0.5em;
  position: absolute;
  top: 0;
  left: -1rem;
  width: 1rem;
  height: 1rem;
}
.timelineBody {
  padding: 2em 2em 0 0em;
  position: relative;
  top: -1.875em;
  left: 2em;
  width: 95%;
}
.timelineTime {
  color: white;
  background-color: blue;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}
